<h2 mat-dialog-title>Upload Image</h2>

<mat-dialog-content>
  <div class="upload-area">
    @let file = selectedFile();
    @if (file) {
      <div class="selected-file">
        <span>{{ file.name }}</span>
        <button mat-icon-button (click)="removeFile()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    } @else {
      <button mat-stroked-button (click)="fileInput.click()">
        <mat-icon>upload</mat-icon>
        Choose File
      </button>
      <input #fileInput type="file" hidden accept="image/*" (change)="onFileSelected($event)" />
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!selectedFile()">
    Upload Image
  </button>
</mat-dialog-actions>
