<div class="dashboard-container">
  @let drinkItems = drinks();
  @let totalNoOfDrinks = total();
  @if (loading()) {
    <ng-container
      [ngTemplateOutlet]="loadingTmpl"
    ></ng-container>
  } @else if (error()) {
    <ng-container
      [ngTemplateOutlet]="errorTmpl"
    ></ng-container>
  } @else {
    <div class="card-container">
      @for (drink of drinkItems; track drink.id) {
        <app-beer-card
          [drink]="drink"
          (addReview)="addReview($event)"
          (addImage)="addImage($event)"
          (viewDetail)="viewDetail($event)"
        />
      } @empty {
        <p>No drinks found.</p>
      }
    </div>
  }

  <div class="button-wrappers">
    <ng-container [ngTemplateOutlet]="addBearButtonTmpl" />
    @if(totalNoOfDrinks && totalNoOfDrinks > pageNumber() * 10) {
      <ng-container [ngTemplateOutlet]="showMoreBtnTempl" />
    }
  </div>

</div>



<!--Ng templates -->
<ng-template #loadingTmpl>
  <div class="loading">
    <mat-spinner diameter="48" />
  </div>
</ng-template>


<ng-template #errorTmpl>
  <div class="error">
    <p>{{ error() }}</p>
  </div>
</ng-template>


<ng-template #addBearButtonTmpl>
  <div class="add-bear-btn">
    <button matButton="elevated" (click)="openAddBeerDialog()">Add bear</button>
  </div>
</ng-template>

<ng-template #showMoreBtnTempl>
  <div class="show-more-button-wrapper">
    <button matButton="elevated" (click)="fetchMoreResults()">Show more results</button>
  </div>
</ng-template>
