<div class="dashboard-container">
  @if (loading()) {
    <ng-container
      [ngTemplateOutlet]="loadingTmpl"
    ></ng-container>
  } @else if (error()) {
    <ng-container
      [ngTemplateOutlet]="errorTmpl"
    ></ng-container>
  } @else {
    <div class="card-container">
      @for (drink of drinks(); track drink.id) {
        <app-beer-card
          [drink]="drink"
          (addReview)="addReviewEvent.emit($event)"
          (addImage)="addImageEvent.emit($event)"
        />
      } @empty {
        <p>No drinks found.</p>
      }
    </div>
  }
  <ng-container [ngTemplateOutlet]="addBearButtonTmpl" />
</div>



<!--Ng templates -->
<ng-template #loadingTmpl>
  <div class="loading">
    <mat-spinner diameter="48" />
  </div>
</ng-template>


<ng-template #errorTmpl>
  <div class="error">
    <p>{{ error() }}</p>
  </div>
</ng-template>


<ng-template #addBearButtonTmpl>
  <div class="add-bear-btn">
    <button matButton="elevated" (click)="openAddBeerDialog()">Add bear</button>
  </div>
</ng-template>
