@use '../../../mixins.scss' as *;
.dashboard-container {
  max-width: 1200px;
  margin: auto;
  padding: 25px;
  background-color: #f9f9f9;

  .button-wrappers {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.error {
  @include error; 
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
