@use './../../../mixins.scss' as carousel;

.carousel {
  position: relative;
  width: 100%;
  .divider {
    @include carousel.divider;
    margin: 0;
  }

  .carousel-viewport {
    overflow: hidden;
    width: 100%;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;
    }
  }

  .carousel-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 0;
  }

  .carousel-indicator {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }

}

